@import 'ui-layer';

html,
body {
    height: 100%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
button {
    font-family: 'Play', Arial, Helvetica,sans-serif;
    color: #fff;
}

button {
    cursor: pointer;
}

img {
    display: none;
}

.game-wrapper {
    height: 100%;
    overflow-x: hidden;
    background-color: #222;
}

.game {
    transform-origin: top;
    max-width: 100vw;
    padding-top: 20px;
    padding-bottom: 20px;
}

.canvas-wrapper {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.canvas {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    border-radius: 5px;
}
