.ui-layer {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.ui-layer-overlay {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 462px;
    top: 100%;
    background-color: rgba(0,0,0,0.5);
    border-radius: 5px;

    transition: opacity 0.2s ease-in;
    opacity: 0;

    &.active {
        transition: none;
        opacity: 1;
    }
}

.state {
    position: absolute;
    left: 0;
}

.state-text-wrapper {
    position: absolute;
    z-index: 1;
    top: 174px;
    left: auto;
    width: 417px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.state-text {
    color: #fff;
    font-size: 22px;
    background-color: #14720a;
    padding: 10px 20px;
    box-shadow: 0 0 5px 0 #fffef2;

    transition: opacity 0.2s ease-in;
    opacity: 0;

    &.active {
        transition: none;
        opacity: 1;
    }
}

.win-text {
    animation-name: radiance;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    box-shadow: 0 0 20px 0 #18f900;
}

.defeat-text {
    background-color: #720a0a;
    box-shadow: 0 0 5px 0 #f90000;
}

.score {
    display: flex;
    font-size: 22px;
    margin-bottom: 20px;
}

.score-header {
    margin-right: 5px;
}

.actions {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
}

.options-button,
.about-button {
    // TODO
    display: none;
}

.restart-button {
    position: absolute;
    top: 273px;
    z-index: 1;
    padding: 5px 10px;
    font-size: 20px;
    border-radius: 5px;
    border: 2px solid white;
    background-color: green;
    color: white;
    box-shadow: 0 0 20px 0 #fffef2;
    cursor: pointer;

    transition: opacity 0.2s ease-in;
    opacity: 0;
    z-index: -1;

    &.active {
        transition: none;
        opacity: 1;
        z-index: 1;
    }

    &.disabled {
        background-color: gray;
    }
}

.power-up {
    position: absolute;
    bottom: 5px;
    width: 100%;
    height: 3px;
    z-index: 12;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;

    &.active {
        opacity: 1;
        visibility: visible;

        .power-up-duration {
            transform: translateX(-100%);
            transition: 10s linear transform;
        }
    }
}

.power-up-duration {
    background-color: yellow;
    width: 100%;
    height: 100%;
    border-radius: 0 5px 5px 0;
    transform: translateX(0);
    transition-duration: 0;
}

@keyframes radiance {
    from {
        box-shadow: 0 0 20px -4px #fffef2;
    }
    40% {
        box-shadow: 0 0 20px -2px #fffef2;
    }
    60% {
        box-shadow: 0 0 20px -1px #fffef2;
    }
    90%{
        box-shadow: 0 0 20px 2px #fffef2;
    }
    to {
        box-shadow: 0 0 20px 3px #fffef2;
    }
  }
